<div id="container">
   <header>
     <h1>BrazilJS Checkin</h1>
   </header>

   <div id="main">
     	<section id="current-keynote">
				<a href="#">
					<figure>
						<img src="img/1day/gc.jpg" width="86" height="76" alt="Gc">
					</figure>
					<span>Agora!</span>
					<h2>Guilherme Chapiewski</h2>
				</a>
			</section>
     <ul class="speakers-list">
       <li><a href="#"><img src="img/1day/david-herman.jpg" width="86" height="76" alt="David Herman"></a></li>
       <li><a href="#"><img src="img/1day/marcelo-campos.png" width="86" height="76" alt="Marcelo Campos"></a></li>
       <li><a href="#"><img src="img/1day/izabel.JPG" width="86" height="76" alt="Izabel"></a></li>
       <li><a href="#"><img src="img/1day/gc.jpg" width="86" height="76" alt="Gc"></a></li>
       <li><a href="#"><img src="img/1day/loiane.jpg" width="86" height="76" alt="Loiane"></a></li>
				<li><a href="#"><img src="img/1day/porkaria.png" width="86" height="76" alt="Bruno Porkaria"></li>
				<li><a href="#"><img src="img/1day/fnando.jpg" width="86" height="76" alt="Fernando"></li>
				<li><a href="#"><img src="img/1day/davidsonfellipe.jpg" width="86" height="76" alt="Davidson"></li>
				<li><a href="#"><img src="img/1day/pedro_barcelona.jpg" width="86" height="76" alt="Pedro"></li>
				<li><a href="#"><img src="img/1day/mikeyyyy.png" width="86" height="76" alt="Mikey"></li>
     </ul>
   </div>

   <footer>
     <a class="friday">Sexta</a>
     <a class="saturday">Sábado</a>
   </footer>
 </div> <!-- end of #container -->