<div id="container" class="keynote-page">
  <header>
		<a href="#" class="button back">Voltar</a>
    <h1>Leonardo Balter</h1>
  </header>

  <div id="main">
    <section id="checkin-now">
  	  <figure>
             <img src="img/photos/<%= @keynote.author.parameterize %>.jpg" width="273" height="203" alt="<%= @keynote.author %>">
	    </figure>
			<a href="#" class="button">Checkin</a>
    </section>
		
		<section id="rate-it">
    	<ul>
	      <li><a href="<%= %>"><span class="ïcon-up"></span><strong>curti, macho</strong></a></li>
	      <li><a href="<%= %>"><span class="ïcon-down"></span><strong>arre égua</strong></a></li>
	    </ul>
		</section>
  </div>
</div> <!-- end of #container -->
