<!doctype html>
<!-- Conditional comment for mobile ie7 http://blogs.msdn.com/b/iemobile/ -->
<!-- Appcache Facts http://appcachefacts.info/ -->
<!--[if IEMobile 7 ]>    <html class="no-js iem7" manifest="default.appcache?v=1"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js" manifest="default.appcache?v=1"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>BrazilJS Checkin</title>
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-startup-image" href="/img/iphone-start.jpg">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/img/l/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/m/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/h/apple-touch-icon.png">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta http-equiv="cleartype" content="on">
  <link rel="stylesheet" href="/css/style.css?v=2">
  <script src="/js/libs/modernizr-custom.js"></script>
</head>

<body>
  <div id="container"><div class="content"><%= yield %></div></div>
  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="/js/libs/jquery-1.5.1.js"></script>
  <script>window.jQuery || document.write("<script src='js/libs/jquery-1.5.1.min.js'>\x3C/script>")</script>
  <script src="/js/mylibs/helper.js"></script>
  <script>
    jQuery(document).ready(function($) {
      function load(page) {
        $.ajax({
          url: page,
          type: "get",
          dataType: "html",
          success: function( data ) { $("#container").html(data); }
        });
      }

      function post(page) {
        $.ajax({
          url: page,
          type: "post",
          dataType: "html",
          success: function( data ) { $("#container").html(data); }
        });
      }

      $("a.ajax").live("click", function(event) {
        var href = $(this).attr("href");
        if (href[0] == "/") {
          event.preventDefault();
          if ($(this).hasClass('button')) {
            post(href);
          } else {
            load(href);
          }
        }
      });
      $('a.keynote').live("click", function(event){
        event.preventDefault();
        $.ajax({
          url: $(this).attr('href'),
          type: "get",
          dataType: "html",
          success: function(data) { $("#container").append(data); }
        });
        $('.content').hide();
      });
      $('a.back').live("click", function(event){
        $('.content:visible').remove();
        $('.content').show();
        event.preventDefault();
      });
    });

    MBP.scaleFix();
    yepnope({
      test : Modernizr.mq('(min-width)'),
      nope : ['js/libs/respond.min.js']
    });
  </script>
</body>
</html>
